<h1>******** Now your result ********</h1>
<p></p>
<p></p>
<p>Your word: <%=@result[:attempt]%></p>
<p>Time Taken to answer: <%=@result[:time]%></p>
<p>Your score: <%=@result[:score]%></p>
<p>Message: <%=@result[:message]%></p>
<p></p>

<!-- puts "******** Now your result ********"

result = run_game(attempt, grid, start_time, end_time)

puts "Your word: #{attempt}"
puts "Time Taken to answer: #{result[:time]}"
puts "Your score: #{result[:score]}"
puts "Message: #{result[:message]}"

puts "*****************************************************"

 -->
